ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

div#root li {
	margin: 5px;
	padding: 5px;
	width: 300px;
}

.ui-state-highlight {
	border-radius: 8px;
}

li.step {
	border-radius: 10px;
	transition: scale 500ms ease;
}

li.step:hover {
	scale: 1.05;
	transition: scale 500ms ease;
}

select {
	width: 280px;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	/*   -webkit-appearance: none; */
}

option {
	max-width: 200px;
}

#root {
	padding-left: 100px;
}

#modify-routines,
#routine-summary {
	margin: 50px 0 0 0;
}

fieldset {
	padding: 10px;
}
