{% extends "base.html" %}


{% block title %}
  TEST | The Skincare Routine Helper
{% endblock title %}

{% block head %}{% endblock %}


{% block body %}
  <input type="text" id="livebox" name="text" class="form-control" placeholder="Find a skincare product" autocomplete="off">

  <label for="order_by">Sort By</label>
  <!-- FIXME: include this value in the query in server.py -->
  <select
    id="search-sort-by"
    class="form-control form-select"
    name="order_by"
  >
    <option value="product_name">Name</option>
    <option value="category_id">Product Type</option>
    <!-- <option value="relevance,asc">Relevance</option> -->
  </select>

  <div id="datalist"></div>
{% endblock body %}


{% block after_body %}
<script type="text/javascript" src="/static/js/livesearch.js"></script>
{% endblock %}
