{% extends "test/base_semantic.html" %}


{% block title %}
  The Skincare Routine Helper
{% endblock title %}


{% block head %}
  The Skincare Routine Helper
{% endblock head %}

{% block body %}
  Plain text example. Hello!
  {# Note: when deploying, replace "development.js" with "production.min.js". #}
  <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
  
  <!-- Semantic UI -->
  <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui-react/dist/umd/semantic-ui-react.min.js"></script>

  <div id="like_button_container">LikeButton</div>

  <div id="login-form">LoginForm</div>
{% endblock %}

{% block after_body %}
  <!-- Load React component. -->
  <script defer type="text/jsx" src="/static/js/login.jsx" crossover></script>
  <script src="/static/js/like_button.js"></script>
{% endblock %}