<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    The Skincare Routine Helper
  </title>
</head>

<body>
  Plain text example. Hello!
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
  
  <!-- Semantic UI -->
  <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui-react/dist/umd/semantic-ui-react.min.js"></script>

  <div id="like_button_container">LikeButton</div>

  <div id="root">LoginForm</div>

  <!-- Load React component. -->
  <script defer type="text/jsx" src="/static/js/login.jsx" crossover></script>
  <!-- <script src="/static/js/like_button.js"></script> -->
</body>

</html>