{% extends "base.html" %}

{% block title %}
  Product Details
{% endblock title %}

{% block head %}
<style>
  .product-img {
    max-width: 200px;
    border-radius: 10px;
  }
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="product-info offset-2 col-8">
    <h1>{{ product.product_name }}</h1>
  </div>
  <!-- <div class="cabinet col-4" id="add-to-cabinet">
    <button id="add-to-cabinet-button"></button>Add to Your Cabinet!
  </div> -->
</div>
<div class="row">
  <div class="col-3 offset-1" id="product_info">
    <h3>Product Info</h3>
    <img class="product-img" src="{{ product.cloud_img_url if product.cloud_img_url else '/static/img/angelica-echeverry-iZlMuVu9luM-unsplash.jpg'}}">
    <ul>
      <li>Product Type{# using category_id, so product.category.category_name --> #}: {{ product.category.category_name }}</li>
      <li>Buy this product <a href="{{ product.product_url }}">here</a>!</li>
    </ul>

    <h3>Ingredient Highlights</h3>
    {% if carcinogens %}
    <p>Possible carcinogens:</p>
    <ul>
        {% for item in carcinogens %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No obvious carcinogens.</p>
    {% endif %}
    {% if endocrine_disruptors %}
    <p>Possible endocrine_disruptors:</p>
    <ul>
        {% for item in endocrine_disruptors %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No obvious endocrine disruptors.</p>
    {% endif %}
    {% if env_haz %}
    <p>Possible environmental hazards:</p>
    <ul>
        {% for item in env_haz %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No obvious environmental hazards.</p>
    {% endif %}

    {% if formaldehydes %}
    <p>Possible formaldehyde releasors:</p>
    <ul>
        {% for item in formaldehydes %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No obvious formaldehyde releasors.</p>
    {% endif %}

    {% if exfoliants %}
      {% for key, ingreds in exfoliants.items() %}
        {% if ingreds %}
          <p>{{ key }}:</p>
          <ul> 
            {% for ingred in ingreds %}
              <li>{{ ingred }}</li>
            {% endfor%}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if hydration %}
      {% for key, ingreds in hydration.items() %}
        {% if ingreds %}
          <p>{{ key }}:</p>
          <ul> 
            {% for ingred in ingreds %}
              <li>{{ ingred }}</li>
            {% endfor%}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}

    <!-- General info goes here! -->
  </div>
  <div class="col-7" id="product_ingredients">
      <h3>Ingredients</h3>
      {#
      product.product_ingredients =<br><br> {{ product.product_ingredients }}
      <br><br><p>List of Ingredients:</p>#}
      <ul>
      {% for ingred in product.product_ingredients %}
        <li>{{ ingred.ingredient.common_name }}</li>
      {% endfor %}</ul> 
      <!-- button: show details -->
      <!-- button: hide details -->
      <!-- product ingredients can be hidden in the future... -->
  </div>
</div>
{% endblock body %}

{% block after_body %}
<!-- <script type="text/jsx" src="/static/cabinets.jsx"></script> -->
{% endblock %}
