{% extends "base.html" %}

{% block title %}
  Product Details
{% endblock title %}

{% block body %}
<div class="row">
  <div class="product-info col-8">
    <h1>{{ product.product_name }}</h1>
  </div>
  <div class="cabinet col-4" id="add-to-cabinet">
    <button id="add-to-cabinet"></button>Add to Your Cabinet!
  </div>
</div>
<div class="row">
  <div class="col-3" id="product_info">
    <h3>Product Info</h3>
    <ul>
      {# <li>Product Type: product.product_type = {{ product.product_type }}</li> #}
      <li>Product Type{# using category_id, so product.category.category_name --> #}: {{ product.category.category_name }}</li>
    </ul>
    <!-- General info goes here! -->
  </div>
  <div class="col-9" id="product_ingredients">
      <h3>Ingredients</h3>
      {#
      product.product_ingredients =<br><br> {{ product.product_ingredients }}
      <br><br><p>List of Ingredients:</p>#}
      <ul>
      {% for ingred in product.product_ingredients %}
        <li>{{ ingred.ingredient.common_name }}</li>
      {% endfor %}</ul> 
      <!-- button: show details -->
      <!-- button: hide details -->
      <!-- product ingredients can be hidden in the future... -->
  </div>
</div>
{% endblock body %}

{% block after_body %}{% endblock %}
