{% extends "base.html" %}

{% block title %}
  Product Details
{% endblock title %}

{% block body %}
<div class="row">
  <div class="product-info offset-2 col-8">
    <h1>{{ product.product_name }}</h1>
  </div>
  <!-- <div class="cabinet col-4" id="add-to-cabinet">
    <button id="add-to-cabinet-button"></button>Add to Your Cabinet!
  </div> -->
</div>
<div class="row">
  <div class="col-3 offset-1" id="product_info">
    <h3>Image Goes Here...</h3>
    
    <h3>Product Info</h3>
    <ul>
      <li>Product Type{# using category_id, so product.category.category_name --> #}: {{ product.category.category_name }}</li>
      <li>Buy this product <a href="{{ product.product_url }}">here</a>!</li>
      <li>{{ product.product_url }}</li>
    </ul>
    <!-- General info goes here! -->
  </div>
  <div class="col-7" id="product_ingredients">
      <h3>Ingredients</h3>
      {#
      product.product_ingredients =<br><br> {{ product.product_ingredients }}
      <br><br><p>List of Ingredients:</p>#}
      <ul>
      {% for ingred in product.product_ingredients %}
        <li>{{ ingred.ingredient.common_name }}</li>
      {% endfor %}</ul> 
      <!-- button: show details -->
      <!-- button: hide details -->
      <!-- product ingredients can be hidden in the future... -->
  </div>
</div>
{% endblock body %}

{% block after_body %}
<script type="text/jsx" src="/static/cabinets.jsx"></script>
{% endblock %}
