{% extends "base.html" %} {% block title %} Profile Settings | The Skincare
Routine Helper {% endblock title %} {% block head %}
<style>
  .body-content {
    margin: 30px 0 0 0;
  }
</style>
{% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Profile Settings</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center body-content">
    <div class="col-5" id="profile-settings">
      <h3>Update Your User Profile</h3>
      <div class="row">
        <form action="#" id="user-settings">
          <table class="content-table">
            <thead>
              <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Values to Update</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Name</td>
                <td>{{ current_user.__dict__.get('f_name') }}</td>
                <td>
                  <input
                    type="text"
                    name="#"
                    placeholder="type the desired value here"
                  />
                </td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ current_user.__dict__.get('l_name') }}</td>
                <td>
                  <input
                    type="text"
                    name="#"
                    placeholder="type the desired value here"
                  />
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ current_user.__dict__.get('email') }}</td>
                <td>---</td>
              </tr>
              <tr>
                <td>Password</td>
                <td>
                  <i
                    ><a href="#" title="FIXME">Click here</a> to change your
                    password.</i
                  >
                </td>
                <td>---</td>
            </tr>
              
              {% for time, datetime in timestamps.items() %}
              <tr>
                  <td>{{time}}</td>
                  <td>{{datetime}}</td>
                  <td>---</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <input type="submit" value="Save Changes" />
        </form>
      </div>
    </div>
    <div class="col-5 offset-1" id="skin-concern-quiz">
      <h3>Update Your Skin Profile</h3>
      <div class="row">
        <div class="col d-flex justify-content-center">
          {% if current_user.is_authenticated %}
          <table class="content-table">
            <thead>
              <tr>
                {% for param_key in profile.keys() %}
                <th>{{ param_key }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for param_key in profile.keys() %}
                <td>{{ profile[param_key] }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="fluid quiz">
          {# SKINTYPE & CONCERNS FORM STARTS HERE #}
          <form action="/quiz" method="POST">
            <fieldset>
              <legend>What is your skin type?</legend>
              <select name="skintype_id" id="skin-type">
                <option value="">------- Select a skin type -------</option>
                {% for skintype in skintypes %}
                <option value="{{ skintype.skintype_id }}">
                  {{ skintype.skintype_name }}
                </option>
                {% endfor %}
              </select>
            </fieldset>
            <fieldset>
              <div class="row">
                <legend>What is your primary skin concern?</legend>
                <select name="primary_concern_id" id="skin-concern-1">
                  <option value="">------- Select a concern -------</option>
                  {% for concern in concerns %}
                  <option value="{{ concern.concern_id }}">
                    {{ concern.concern_name }}
                  </option>
                  <!-- insert <option value="acne">Acne</option> or something here using JS -->
                  {% endfor %}
                </select>
              </div>
              <div class="row">
                <legend>What is your secondary skin concern?</legend>
                <select name="secondary_concern_id" id="skin-concern-2">
                  <option value="">------- Select a concern -------</option>
                  {% for concern in concerns %}
                  <option value="{{ concern.concern_id }}">
                    {{ concern.concern_name }}
                  </option>
                  <!-- insert <option value="acne">Acne</option> or something here using JS -->
                  <!-- FIXME: make sure it's not the same as the previous one -->
                  <span id="concern-description"
                    >{{ concern.description }}</span
                  >
                  {% endfor %}
                </select>
              </div>
            </fieldset>
            <div class="row">
              <input type="submit" value="Update Profile" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="skin-concern-quiz">
    <!-- UPDATE YOUR SKIN PROFILE -->
    <div class="row"></div>
  </div>
  {% endblock body %} {% block after_body %}{% endblock %}
</div>
