{% extends 'base.html' %}

{% block title %}Find Skincare Products{% endblock %}

{% block head%}
<style>
  .category-selection-form ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    list-style: none;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Search for Skincare Products</h2>

      <!-- FORM STARTS HERE! -->
      <form method="POST" action="/products">
        <div class="row">
          <label class="form-label" for="search-keyword">Product Name</label>

          <input
            id="search-keyword"
            class="form-control"
            type="text"
            name="product_name"
            placeholder="Product Name"
            title="Leave this blank to get all products!"
          >
        </div>

        <div class="row">
          <label for="search-sort-by">Sort By</label>
          <select
            id="search-sort-by"
            class="form-control form-select"
            name="order_by"
          >
            <option value="product_name">Name</option>
            <option value="category_id">Product Type</option>
            <!-- <option value="relevance,asc">Relevance</option> -->
          </select>
        </div>
        <div class="row">
          <details>
            <!-- <fieldset class="group"> -->
              <summary><label for="category-selection-form">Filter by Product Type?</label>
              </summary>
                <p><i>The search will query all product types by default. (Under construction.)</i></p>
            <!-- FIXME: include this value in the query in server.py -->
              
              <div class="category-selection-form" display="inline-block">
                <ul>
                {% for row in categories_table %}
                <!-- FIXME: show buttons as in-line blocks?
                see: https://css-tricks.com/when-do-you-use-inline-block/ -->
                <li><span style="white-space: nowrap;"><input
                  type="checkbox"
                  name="category_id"
                  value="{{ row.category_id }}"
                >
                {{ row.category_name }}
                </input></span></li>
                {% endfor %}
                </ul>
              </div>
              
            </select>
          <!-- </fieldset> -->
          </details>
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Search for products!" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col" id="datalist">Stuff</div>
  </div>
</div>
{% endblock %}

{% block after_body %}
  <script type="text/javascript" src="/static/js/livesearch.js"></script>
{% endblock %}
