{% extends 'base.html' %}

{% block title %}Find Skincare Products{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Search for Skincare Products</h2>

      <form method="GET" action="/products/search">
        <div class="row">
          <label class="form-label" for="search-keyword">Product Name</label>

          <input
            id="search-keyword"
            class="form-control"
            type="text"
            name="product_name"
            placeholder="Product Name"
            title="Leave this blank to get all products!"
          >
        </div>

        <div class="row">
          <label for="search-sort-by">Sort By</label>
<!-- FIXME: include this value in the query in server.py -->
          <select
            id="search-sort-by"
            class="form-control form-select"
            name="order_by"
          >
            <option value="product_name">Name</option>
            <option value="category_id">Product Type</option>
            <!-- <option value="relevance,asc">Relevance</option> -->
          </select>
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Search for products!" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block after_body %}{% endblock %}
