{% extends "base.html" %}

{% block title %}
{{ current_user.f_name }}'s Profile
{% endblock title %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div id="avatar" class="col-lg-5">
      <img src="/static/img/undraw_female_avatar_w3jk.svg" height="300px" />
    </div>

    <div id="user_info" class="col-lg-5">
      <h1>My Profile</h1>
      {% if current_user.is_authenticated %}
      <table class="content-table">
        <thead>
          <tr>
            {% for param_key in profile.keys() %}
            <th>{{ param_key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for param_key in profile.keys() %}
            <td>{{ profile[param_key] }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {% else %} Please login <a href="/login">here</a>. {% endif %}
      <p class="settings">
        <i
          ><a href="/settings">Click here</a> to update your user profile or
          settings.</i
        >
      </p>
    </div>
  </div>
  <div class="row" id="section-two">
    <div id="user_cabinet" class="col-lg-5">
      <h3>My Cabinet</h3>
      {% if current_user.cabinets %}
      <table class="cabinet-list content-table">
        <thead>
          <tr>
            <th>Product Type</th>
            <th>Product</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in current_user.cabinets %}
          <tr>
            <td>{{ obj.product['category']['category_name'] }}</td>
            <td>
              <a href="/products/{{ obj['product_id'] }}" target="_blank">
                {{ obj.product.product_name }}
              </a>
            </td>
            <td><img src="{{ obj.product.cloud_img_url }}" class="thumbnail"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>
        You don't have anything in your cabinet yet!
        <a href="/products">Click here</a> to search for a skincare product.
      </p>
      {% endif %}
    </div>

    <div class="routine col-5 offset-1">
      <div class="row" id="user_am_routine">
        <h3>My AM Routine</h3>
        {% if am_routine %}
        <table class="content-table">
          <thead>
            <tr>
              <th>Step</th>
              <th>Product</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for step_obj in am_routine.steps %}
            <tr class="{{ step_obj.product_id }}">
              <td>{{ step_obj.product.category.category_name }}</td>
              <td>
                <a href="/products/{{ step_obj.product_id }}" target="_blank"
                  >{{ step_obj.product.product_name }}</a
                >
              </td>
              <td><img src="{{ step_obj.product.cloud_img_url }}" class="thumbnail"></td>
            </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>
          You don't have anything in your routine yet! {% if not
          current_user.cabinets %} Add something to your cabinet first, and then
          add products from your cabinet into your skincare routine! {% else %}
          <a href="/routine">Click here</a> to add something from your cabinet
          to your skincare routine! {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="row" id="user_pm_routine">
        <h3>My PM Routine</h3>
        {% if pm_routine %}
        <table class="content-table">
          <thead>
            <tr>
              <th>Step</th>
              <th>Product</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for step_obj in pm_routine.steps %}
            <tr class="{{ step_obj.product_id }}">
              <td>{{ step_obj.product.category.category_name }}</td>
              <td>
                <a href="/products/{{ step_obj.product_id }}" target="_blank"
                  >{{ step_obj.product.product_name }}</a
                >
              </td>
              <td><img src="{{ step_obj.product.cloud_img_url }}" class="thumbnail"></td>
            </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>
          You don't have anything in your routine yet! {% if not
          current_user.cabinets %} Add something to your cabinet first, and then
          add products from your cabinet into your skincare routine! {% else %}
          <a href="/routine">Click here</a> to add something from your cabinet
          to your skincare routine! {% endif %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center" id="search_for_product">
      <div class="search-box" id="animated-search-box">
        <form action="/products/results" methods="GET">
          <button class="btn-search"><i class="bi bi-search"></i></button>
          <input
            type="text"
            class="input-search"
            name="product_name"
            placeholder="Search for a product..."
          />
        </form>
      </div>
    </div>
  </div>
  {% endblock body %}
  
  {% block after_body %}
  {% endblock %}
</div>
