{% extends "base.html" %}

{% block title %}
  {{ user.f_name }}'s Profile
{% endblock title %}

{% block body %}
<h1>My Profile</h1>
<div id="user_cabinet">
    <h3>My Cabinet</h3>
    <!-- My Cabinet -->
</div>
<div class="routine" id="user_am_routine">
    <h3>My AM Routine</h3>
    <!-- My AM Routine -->
</div>
<div class="routine" id="user_pm_routine">
    <h3>My PM Routine</h3>
    <!-- My PM Routine -->
</div>
<div class="search" id="search_for_product">
    <h2>Search for a Product!</h2>
    <form action="/search" methods="GET">
    <input type="text" name="product_name" placeholder="Product Name"/>
    <input type="text" name="product_type" placeholder="Product Type"/>
    <!-- FIXME: change product_type to something else once model.py for Uesr is fixed -->
    <input type="submit">
</form>
<div id="search_results"></div>
</div>
{% endblock body %}